<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
    <h2 style="margin: 0;">💬 Obrolan</h2>
    <select id="chat-channel-select" style="padding: 3px; font-size: 11px; background: #121216; color: #fff; border: 1px solid #3f3f52; border-radius: 3px;">
        <option value="world">🌍 Dunia</option>
        <option value="guild">🛡️ Guild</option>
        <option value="party">🏕️ Party</option>
    </select>
</div>
<div id="chat-box" class="chat-box"></div>
<div class="chat-controls">
    <input type="text" id="chat-input" placeholder="Tulis Pesan...">
    <button id="btn-send-chat">Kirim</button>
</div>