<h2>🎒 Inventory</h2>
<div class="mode-buttons">
    <button id="btn-mode-equip" class="mode-active">🛡️ PAKAI</button>
    <button id="btn-mode-sell" style="background:#495057;">💰 JUAL</button>
    <button id="btn-mode-dismantle" style="background-color:#495057;">🔥 LEBUR</button>
    <button id="btn-mode-bank" style="background:#495057;">🏦 BANKIR</button>
    <button id="btn-mode-auction" style="background:#495057;">⚖️ LELANG</button>
    <button id="btn-mode-blacksmith" style="background-color:#495057;" onclick="window.activateBlacksmithMode()">⚒️
        TEMPA</button>
    <button id="btn-mode-transfer" style="background-color:#495057;" onclick="window.activateTransferMode()">🔮
        TRANSFER</button>
    <button id="btn-mode-crafting" style="background-color:#495057;">📜 CRAFT</button>
</div>
<div id="inventory-grid" class="inv-grid"></div>